<extend name="Common/layout"/>
<block name="css">
</block>
<block name="content">
    <div itemscope="" itemtype="http://schema.org/Question">
        <div id="question-header">
            <h1 itemprop="name">
                <a href="{$q.id|questiondetailsurl}" class="question-hyperlink">{$q.title}</a>
            </h1>
        </div>
        <div id="mainbar">
            <div class="question" data-questionid="{$q.id}" id="question">
                <table>
                    <tbody>
                    <tr>
                        <td class="votecell">
                            <div class="vote">
                                <input type="hidden" name="_id_" value="{$q.id}">

                                <a class="{$q['vote_type']==VOTEUP?'vote-up-on':'vote-up-off'}"
                                   title="This question shows research effort; it is useful and clear (click again to undo)">up
                                    vote</a>
                                <span itemprop="upvoteCount" class="vote-count-post ">{$q.votes}</span>
                                <a class="{$q['vote_type']==VOTEDOWN?'vote-down-on':'vote-down-off'}"
                                   title="This question does not show any research effort; it is unclear or not useful (click again to undo)">down
                                    vote</a>
                                <a class="{$q['favorite']==1?'star-on':'star-off'}"
                                   title="This is a favorite question (click again to undo)">favorite</a>

                                <div class="favoritecount"><b>{$q.favorites}</b></div>
                            </div>
                        </td>
                        <td class="postcell">
                            <div>
                                <div class="post-text" itemprop="text">
                                    {$q.content}
                                </div>
                                <div class="post-taglist">
                                    <include file="Common/taglist"/>
                                </div>
                                <table class="fw">
                                    <tbody>
                                    <tr>
                                        <td class="vt">
                                        </td>
                                        <td class="post-signature owner">
                                            <if condition="$q.modifytime eq null">
                                                <include file="Common/userdetails"
                                                         username="{$q.username}"
                                                         reputation="{$q.reputation}"
                                                         url="{$q.user_id|userdetails}"
                                                         type="asked"
                                                         time="{$q.ct|human_time_diff}"
                                                         pic="{$q.pic}"/>
                                                <else/>
                                                <include file="Common/userdetails"
                                                         username="{$q.username}"
                                                         reputation="{$q.reputation}"
                                                         url="{$q.user_id|userdetails}"
                                                         type="modified"
                                                         time="{$q.modifytime|human_time_diff}"
                                                         pic="{$q.pic}"/>

                                            </if>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="votecell"></td>
                        <td>
                            <div id="comments-34014184" class="comments  dno">
                                <table>
                                    <tbody data-remaining-comments-count="0" data-canpost="false" data-cansee="true"
                                           data-comments-unavailable="false" data-addlink-disabled="true">

                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--<div id="comments-link-34014184" data-rep="50" data-reg="true">-->

                                <!--<a class="js-add-link comments-link disabled-link "-->
                                   <!--title="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments.">add-->
                                    <!--a comment</a><span class="js-link-separator dno">&nbsp;|&nbsp;</span>-->
                                <!--<a class="js-show-link comments-link dno"-->
                                   <!--title="expand to show all comments on this post"-->
                                   <!--href="#" onclick=""></a>-->
                            <!--</div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="answers">
                <a name="tab-top"></a>

                <div id="answers-header">
                    <div class="subheader answers-subheader">
                        <h2>
                            {$q.answers} Answer
                            <span style="display:none;" itemprop="answerCount">{$q.answers}</span>
                        </h2>

                    </div>
                </div>
                <volist name="q.q_answers" id="a">
                    <a name="{$a.id}"></a>

                    <div id="answer-{$a.id}" class="answer answer-{$a.id}" data-answerid="{$a.id}">
                        <table>
                            <tbody>
                            <tr>

                                <td class="votecell">
                                    <div class="vote">
                                        <input type="hidden" name="_id_" value="{$a.id}">
                                        <a class="{$a['vote_type'] == VOTEUP ? 'vote-up-on' : 'vote-up-off' }"
                                           title="This answer is useful (click again to undo)">up
                                            vote</a>
                                        <span itemprop="upvoteCount" class="vote-count-post ">{$a.votes}</span>
                                        <a class="{$a['vote_type']==VOTEDOWN?'vote-down-on':'vote-down-off'}"
                                           title="This answer is not useful (click again to undo)">down
                                            vote</a>
                                        <if condition="$a['accepted'] eq 1"><span
                                                class="vote-accepted-on load-accepted-answer-date"
                                                title="loading when this answer was accepted...">accepted</span>
                                            <elseif condition="hadLogin()"/>
                                            <span class="vote-accepted-off load-accepted-answer-date"
                                                  title="loading when this answer was accepted...">accepted</span>
                                        </if>
                                        <!--<div class="bounty-award-container">-->
                                        <!--<span class="bounty-award" title="This answer has been awarded bounties worth 50 reputation by cetver">+50</span>-->
                                        <!--</div>-->
                                    </div>
                                </td>
                                <td class="answercell">
                                    <div class="post-text" itemprop="text">
                                        {$a.content}
                                    </div>
                                    <table class="fw">
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td align="right" class="post-signature">
                                                <if condition="$a.modifytime eq null">
                                                    <include file="Common/userdetails"
                                                             username="{$a.username}"
                                                             reputation="{$a.reputation}"
                                                             url="{$a.user_id|userdetails}"
                                                             type="answered"
                                                             time="{$a.ct|human_time_diff}"
                                                             pic="{$a.pic}"/>
                                                    <else/>
                                                    <include file="Common/userdetails"
                                                             username="{$a.username}"
                                                             reputation="{$a.reputation}"
                                                             url="{$a.user_id|userdetails}"
                                                             type="modified"
                                                             time="{$a.modifytime|human_time_diff}"
                                                             pic="{$a.pic}"/>
                                                </if>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <a name="new-answer"></a>
                </volist>
                <form id="post-form" action="/index.php/Home/Question/answer" method="post" class="post-form">
                    <input type="hidden" id="question_id" name="question_id" value="{$q.id}">
                    <input type="hidden" id="qualityBanWarningShown" name="qualityBanWarningShown" value="false">
                    <h2 class="space">Your Answer</h2>
                    <div id="post-editor" class="post-editor js-post-editor">
                        <div style="position: relative;">
                            <div class="wmd-container">
                                <div id="wmd-button-bar" class="wmd-button-bar"></div>
                                <input type="hidden" id="content_html" name="content_html" value="">
                                <input type="hidden" id="content_txt" name="content_txt" value="">
                                <script id="editor" type="text/plain" style="width:660px;height:300px;"></script>
                            </div>
                        </div>
                        <div class="fl" style="margin-top: 8px; height:24px;">&nbsp;</div>
                        <div id="draft-saved" class="draft-saved community-option fl"
                             style="margin-top: 8px; height:24px; display:none;">draft saved
                        </div>

                        <div id="draft-discarded" class="draft-discarded community-option fl"
                             style="margin-top: 8px; height:24px; display:none;">draft discarded
                        </div>
                        <div id="wmd-preview" class="wmd-preview"></div>
                        <div></div>
                        <div class="edit-block">
                            <input id="fkey" name="fkey" type="hidden" value="06c9368bee437ee3885f59d7022abcea">
                            <input id="author" name="author" type="text">
                        </div>
                    </div>
                    <div style="position: relative;">
                    </div>
                    <div class="form-submit cbt">
                        <input id="submit-button" type="button" value="Post Your Answer" tabindex="110">
                        <a href="#" class="discard-answer dno">discard</a>
                    </div>
                </form>
            </div>
        </div>
        <div style="display:none" id="prettify-lang">lang-sql</div>
    </div>
</block>
<block name="js">
    <js href="/Public/js/base.js" />
    <js href="/Public/third/ueditor/ueditor.config.js"/>
    <js href="/Public/third/ueditor/ueditor.all.js"/>
    <js href="/Public/third/ueditor/lang/zh-cn/zh-cn.js"/>
    <js href="/Public/js/question/answer.js"/>
</block>