<div itemscope="" itemtype="http://schema.org/Question">
    <link itemprop="image" href="//cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png?v=c78bd457575a">
    <div id="question-header">
        <h1 itemprop="name">
            <a href="/index.php/Home/Question/details/id/{$q.id}" class="question-hyperlink">{$q.title}</a>
        </h1>
    </div>
    <div id="mainbar">
        <div class="question" data-questionid="{$q.id}" id="question">
            <table>
                <tbody>
                <tr>
                    <td class="votecell">
                        <div class="vote">
                            <input type="hidden" name="_id_" value="{$q.id}">

                            <a class="{$vote_type==VOTEUP?'vote-up-on':'vote-up-off'}"
                               title="This question shows research effort; it is useful and clear (click again to undo)">up
                                vote</a>
                            <span itemprop="upvoteCount" class="vote-count-post ">{$q.votes}</span>
                            <a class="{$vote_type==VOTEDOWN?'vote-down-on':'vote-down-off'}"
                               title="This question does not show any research effort; it is unclear or not useful (click again to undo)">down
                                vote</a>
                            <a class="{$favorite==1?'star-on':'star-off'}"
                               title="This is a favorite question (click again to undo)">favorite</a>

                            <div class="favoritecount"><b>{$q.favorite}</b></div>
                        </div>
                    </td>
                    <td class="postcell">
                        <div>
                            <div class="post-text" itemprop="text">
                                {$q.content}
                            </div>
                            <div class="post-taglist">
                                <include file="Common/taglist" />
                            </div>
                            <table class="fw">
                                <tbody>
                                <tr>
                                    <td class="vt">
                                        <!--<div class="post-menu">-->
                                        <!--<a href="/q/34014184/5619549"-->
                                        <!--title="short permalink to this question"-->
                                        <!--class="short-link"-->
                                        <!--id="link-post-34014184">share</a>-->
                                        <!--<span class="lsep">|</span><a href="/posts/34014184/edit"-->
                                        <!--class="suggest-edit-post"-->
                                        <!--title="revise and improve this post">edit</a>-->
                                        <!--</div>-->
                                    </td>
                                    <td class="post-signature owner">
                                        <div class="user-info ">
                                            <div class="user-action-time">
                                                asked <span title="{$q.ct}" class="relativetime">{$q.ct}</span>
                                            </div>
                                            <div class="user-gravatar32">
                                                <a href="/index.php/Home/User/{$q.uid_id}">
                                                    <!--<div class="gravatar-wrapper-32"><img-->
                                                    <!--src="https://www.gravatar.com/avatar/3195282fda1d61dbc5e3bd0acba0a343?s=32&amp;d=identicon&amp;r=PG&amp;f=1"-->
                                                    <!--alt="" width="32" height="32"></div>-->
                                                </a>
                                            </div>
                                            <div class="user-details">
                                                <a href="/index.php/Home/User/{$q.uid_id}">{$q.username}</a><br>
                                                <!--<span class="reputation-score" title="reputation score "-->
                                                <!--dir="ltr">11</span><span title="2 bronze badges"><span-->
                                                <!--class="badge3"></span><span class="badgecount">2</span></span>-->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="votecell"></td>
                    <td>
                        <div id="comments-34014184" class="comments  dno">
                            <table>
                                <tbody data-remaining-comments-count="0" data-canpost="false" data-cansee="true"
                                       data-comments-unavailable="false" data-addlink-disabled="true">

                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="comments-link-34014184" data-rep="50" data-reg="true">

                            <a class="js-add-link comments-link disabled-link "
                               title="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments.">add
                                a comment</a><span class="js-link-separator dno">&nbsp;|&nbsp;</span>
                            <a class="js-show-link comments-link dno" title="expand to show all comments on this post"
                               href="#" onclick=""></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="answers">
            <a name="tab-top"></a>

            <div id="answers-header">
                <div class="subheader answers-subheader">
                    <h2>
                        {$q.answers} Answer
                        <span style="display:none;" itemprop="answerCount">{$q.answers}</span>
                    </h2>
                    <!--<div>-->
                    <!--<div id="tabs">-->
                    <!--<a href="/questions/34014184/how-to-restore-specific-table-from-previous-backup-in-mysql?answertab=active#tab-top"-->
                    <!--data-nav-xhref="" title="Answers with the latest activity first" data-value="active">active</a>-->
                    <!--<a href="/questions/34014184/how-to-restore-specific-table-from-previous-backup-in-mysql?answertab=oldest#tab-top"-->
                    <!--data-nav-xhref="" title="Answers in the order they were provided" data-value="oldest">oldest</a>-->
                    <!--<a class="youarehere"-->
                    <!--href="/questions/34014184/how-to-restore-specific-table-from-previous-backup-in-mysql?answertab=votes#tab-top"-->
                    <!--data-nav-xhref="" title="Answers with the highest score first"-->
                    <!--data-value="votes">votes</a>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <volist name="q.q_answers" id="a">
                <a name="{$a.id}"></a>

                <div id="answer-{$a.id}" class="answer answer-{$a.id}" data-answerid="{$a.id}" itemscope=""
                     itemtype="http://schema.org/Answer">
                    <table>
                        <tbody>
                        <tr>

                            <td class="votecell">
                                <div class="vote">
                                    <input type="hidden" name="_id_" value="{$a.id}">
                                    <a class="{$a['vote_type'] == VOTEUP ? 'vote-up-on' : 'vote-up-off' }" title="This answer is useful (click again to undo)">up
                                        vote</a>
                                    <span itemprop="upvoteCount" class="vote-count-post ">{$a.votes}</span>
                                    <a class="{$a['vote_type']==VOTEDOWN?'vote-down-on':'vote-down-off'}" title="This answer is not useful (click again to undo)">down
                                        vote</a>
                                </div>
                            </td>
                            <td class="answercell">
                                <div class="post-text" itemprop="text">
                                    {$a.answer}
                                </div>
                                <table class="fw">
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td align="right" class="post-signature">
                                            <div class="user-info ">
                                                <div class="user-action-time">
                                                    answered <span title="{$qa.ct}" class="relativetime">{$a.ct}</span>
                                                </div>
                                                <div class="user-gravatar32">
                                                    <a href="/index.php/Home/User/{$a.user_id}">
                                                    </a>
                                                </div>
                                                <div class="user-details">
                                                    <a href="/index.php/Home/User/{$a.user_id}">{$a.username}</a><br>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <a name="new-answer"></a>
            </volist>
            <form id="post-form" action="/index.php/Home/Question/answer" method="post" class="post-form">
                <input type="hidden" id="question_id" name="question_id" value="{$q.id}">
                <input type="hidden" id="qualityBanWarningShown" name="qualityBanWarningShown" value="false">
                <input type="hidden" name="referrer" value="http://stackoverflow.com/">

                <h2 class="space">Your Answer</h2>

                <div id="post-editor" class="post-editor js-post-editor">
                    <div style="position: relative;">
                        <div class="wmd-container">
                            <div id="wmd-button-bar" class="wmd-button-bar"></div>
                            <input type="hidden" id="answer" name="answer" value="">
                            <script id="editor" type="text/plain" style="width:660px;height:300px;"></script>
                        </div>
                    </div>
                    <div class="fl" style="margin-top: 8px; height:24px;">&nbsp;</div>
                    <div id="draft-saved" class="draft-saved community-option fl"
                         style="margin-top: 8px; height:24px; display:none;">draft saved
                    </div>

                    <div id="draft-discarded" class="draft-discarded community-option fl"
                         style="margin-top: 8px; height:24px; display:none;">draft discarded
                    </div>
                    <div id="wmd-preview" class="wmd-preview"></div>
                    <div></div>
                    <div class="edit-block">
                        <input id="fkey" name="fkey" type="hidden" value="06c9368bee437ee3885f59d7022abcea">
                        <input id="author" name="author" type="text">
                    </div>
                </div>
                <div style="position: relative;">
                </div>
                <div class="form-submit cbt">
                    <input id="submit-button" type="button" value="Post Your Answer" tabindex="110">
                    <a href="#" class="discard-answer dno">discard</a>
                </div>
            </form>
        </div>
    </div>
    <div style="display:none" id="prettify-lang">lang-sql</div>
</div>
<js href="/Public/third/ueditor/ueditor.config.js"/>
<js href="/Public/third/ueditor/ueditor.all.js"/>
<js href="/Public/third/ueditor/lang/zh-cn/zh-cn.js"/>
<js href="/Public/js/question/answer.js"/>