<css href="/Public/css/profile.css"/>
<include file="Common/usersubheader" />
<div>
    <div id="user-panel-answers" class="user-panel user-panel-left">
        <div class="subheader">
            <h3 class="title-section no-border"><a href="/users/5619549/shuai-liu?tab=answers">
                Answers <span>(0)</span></a></h3>

            <div class="subtabs user-panel-subtabs">
                <a href="javascript:void(0)" class="youarehere" data-sort-id="votes">
                    votes
                </a>
                <a href="javascript:void(0)" data-sort-id="activity">
                    activity
                </a>
                <a href="javascript:void(0)" data-sort-id="newest">
                    newest
                </a>
            </div>
        </div>
        <div class="user-panel-content">
            <div class="empty">You have not <a href="/questions/how-to-answer">answered</a> any questions</div>
        </div>

        <div class="user-panel-footer">

        </div>
    </div>
    <div id="user-panel-reputation" class="user-panel">
        <div class="subheader">
            <h3 class="title-section no-border"><a href="/users/5619549/shuai-liu?tab=reputation">
                Reputation <span>(1)</span> </a></h3>

        </div>

        <div class="user-panel-content">


            <div class="empty">
                You have no recent <a href="/help/whats-reputation">reputation changes</a></div>

        </div>

        <div class="user-panel-footer">

        </div>
    </div>
    <div id="user-panel-questions" class="user-panel user-panel-left">
        <div class="subheader">
            <h3 class="title-section no-border"><a href="/users/5619549/shuai-liu?tab=questions">
                Questions <span>(0)</span></a></h3>

            <div class="subtabs user-panel-subtabs">
                <a href="javascript:void(0)" class="youarehere" data-sort-id="votes">
                    votes
                </a>
                <a href="javascript:void(0)" data-sort-id="activity">
                    activity
                </a>
                <a href="javascript:void(0)" data-sort-id="newest">
                    newest
                </a>
            </div>
        </div>

        <div class="user-panel-content">

            <div class="empty">You have not <a href="/questions/how-to-ask">asked</a> any questions</div>

        </div>

        <div class="user-panel-footer">

        </div>
    </div>
    <div id="user-panel-tags" class="user-panel">
        <div class="subheader">
            <h3 class="title-section no-border"><a href="/users/5619549/shuai-liu?tab=tags">
                Tags <span>(0)</span></a></h3>
        </div>

        <div class="user-panel-content">

            <div class="empty">You have not participated in any <a href="/tags">tags</a></div>

        </div>

        <div class="user-panel-footer">

        </div>
    </div>
    <div id="user-panel-accounts" class="user-panel user-panel-left">
        <div class="subheader">
            <h3 class="title-section no-border"><a
                    href="http://stackexchange.com/users/7383910/shuai-liu?tab=accounts">
                Account <span>(1)</span> </a></h3>
        </div>

        <div class="user-panel-content">

            <table class="user-accounts lines">
                <tbody>
                <tr>
                    <td class="icon-cell">
                        <div class="favicon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                    </td>
                    <td>
                        <a class="site-hyperlink" href="http://stackoverflow.com/users/5619549/">Stack Overflow</a>
                    </td>
                    <td class="reputation">
                        <span class="reputation-score">1</span> rep
                    </td>
                    <td class="badges">

                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="user-panel-footer">

        </div>
    </div>
    <div id="user-panel-badges" class="user-panel">
        <div class="subheader">
            <h3 class="title-section no-border"><a href="/users/5619549/shuai-liu?tab=badges">
                Badges <span>(0)</span></a></h3>

            <div class="subtabs user-panel-subtabs">
                <a href="javascript:void(0)" class="youarehere" data-sort-id="recent">
                    recent
                </a>
                <a href="javascript:void(0)" data-sort-id="class">
                    class
                </a>
                <a href="javascript:void(0)" data-sort-id="name">
                    name
                </a>
            </div>
        </div>

        <div class="user-panel-content">

            <div class="empty">You have not earned any <a href="/help/badges">badges</a></div>

        </div>

        <div class="user-panel-footer">

        </div>
    </div>
    <div id="user-panel-bounties" class="user-panel user-panel-left">
        <div class="subheader">
            <h3 class="title-section no-border"><a href="/users/5619549/shuai-liu?tab=bounties">
                Active bounties <span>(0)</span></a></h3>

            <div class="subtabs user-panel-subtabs">
                <a href="javascript:void(0)" class="youarehere" data-sort-id="active">
                    active
                </a>
                <a href="javascript:void(0)" data-sort-id="offered">
                    offered
                </a>
                <a href="javascript:void(0)" data-sort-id="earned">
                    earned
                </a>
            </div>
        </div>

        <div class="user-panel-content">

            You have no active <a href="/help/bounty">bounties</a>
        </div>

        <div class="user-panel-footer">

        </div>
    </div>
    <div id="user-panel-votes" class="user-panel">
        <div class="subheader">
            <h3 class="title-section no-border">
                Votes Cast <span>(0)</span></h3>
        </div>

        <div class="user-panel-content">

            <div class="empty">You have not cast any <a href="/help/why-vote">votes</a></div>

        </div>

        <div class="user-panel-footer">

        </div>
    </div>
</div>

