<extend name="Common/layout"/>
<block name="css">
</block>
<block name="content">
    <form action="/index.php/Home/Tag/create" method="post">
        <table>
            <tbody>
            <tr>
                <td>Tag name:</td>
                <td style="padding-left:5px">
                    <input id="tagfilter" style="min-width: 300px;" name="name" type="text" value="{$name}">
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="tags_list">

                    </div>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td style="padding-left:5px">
                    <textarea id="desc" name="desc" style="min-width:300px; min-height: 60px;"></textarea>
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>&nbsp;&nbsp;<input type="button" id="add" style="float: right; min-width: 60px;" value="Add"
                                       class="btn btn-default"></td>
            </tr>
            </tbody>
        </table>
    </form>
</block>
<block name="js">
    <js href="/Public/js/tag/tag.js"/>
</block>