<div id="mainbar">
    <hr>
    <div id="qlist-wrapper">
        <div id="question-mini-">
            <volist name="questions" id="q">
                <div class="question-summary" id="question-summary-{$q.id}">
                    <div class="statscontainer">
                        <div class="statsarrow"></div>
                        <div class="stats">
                            <div class="vote">
                                <div class="votes">
                                    <span class="vote-count-post high-scored-post"><strong>{$q.votes|human_num_diff}</strong></span>
                                    <div class="viewcount">votes</div>
                                </div>
                            </div>
                            <div class="status <php> echo $q['answers']>0?$q['accept']==1?'answered-accepted':'answered':'unanswered'; </php>">
                                <strong>{$q.answers|human_num_diff}</strong>answers
                            </div>
                        </div>
                        <div class="views <php> echo $q['views']>1000?'supernova':''; </php>" title="{$q.views} views">
                            {$q.views|human_num_diff} views
                        </div>
                    </div>
                    <div class="summary">
                        <h3><a href="{$q.id|questiondetailsurl}" class="question-hyperlink">{$q.title}</a></h3>
                        <div class="excerpt">
                            {$q.summary}
                        </div>
                        <div class="tags t-java t-cçç t-performance t-optimization t-branch-prediction">
                            <include file="Common/taglist" />
                        </div>
                        <if condition="$q.modifytime eq null"> <include file="Common/userdetails"
                                                                      username = "{$q.username}"
                                                                      reputation = "{$q.reputation}"
                                                                      url="{$q.user_id|userdetails}"
                                                                      type="asked"
                                                                      time="{$q.ct|human_time_diff}"
                                                                      pic="{$q.pic}"/>
                            <else /><include file="Common/userdetails"
                                             username = "{$q.username}"
                                             reputation = "{$q.reputation}"
                                             url="{$q.user_id|userdetails}"
                                             type="modified"
                                             time="{$q.modifytime|human_time_diff}"
                                             pic="{$q.pic}"/>

                        </if>

                    </div>
                </div>
            </volist>

        </div>
    </div>
    <br class="cbt">
</div>