<div id="mainbar">
    <hr>
    <div id="qlist-wrapper">
        <div id="question-mini-">
            <volist name="questions" id="q">
                <div class="question-summary" id="question-summary-{$q.id}">
                    <div class="statscontainer">
                        <div class="statsarrow"></div>
                        <div class="stats">
                            <div class="vote">
                                <div class="votes">
                                    <span class="vote-count-post high-scored-post"><strong>{$q.votes}</strong></span>
                                    <div class="viewcount">votes</div>
                                </div>
                            </div>
                            <div class="status <php> echo $q['answers']==0?'unanswered':'answered-accepted'; </php>">
                                <strong>{$q.answers}</strong>answers
                            </div>
                        </div>
                        <div class="views <php> echo $q['views']>1000?'supernova':''; </php>" title="{$q.views} views">
                            {$q.views} views
                        </div>
                    </div>
                    <div class="summary">
                        <h3><a href="{$q.id|questiondetailsurl}" class="question-hyperlink">{$q.title}</a></h3>
                        <div class="excerpt">
                            {$q.summary}
                        </div>
                        <div class="tags t-java t-cçç t-performance t-optimization t-branch-prediction">
                            <include file="Common/taglist" />
                        </div>
                        <div class="started fr">
                            <div class="user-info user-hover">
                                <div class="user-action-time">
                                    asked <span title="2012-06-27 13:51:36Z" class="relativetime">{$q.ct}</span>
                                </div>
                                <div class="user-gravatar32">
                                    <a href="{$q.user_id|userdetails}"><div class="gravatar-wrapper-32">
                                        <img src="{$q.pic}" alt="" width="32" height="32"></div></a>
                                </div>
                                <div class="user-details">
                                    <a href="{$q.user_id|userdetails}">{$q.username}</a>
                                    <div class="-flair">
                                        <span class="reputation-score" title="reputation score {$q.reputation}" dir="ltr">{$q.reputation}</span>
                                        <!--<span title="24 gold badges">-->
                                            <!--<span class="badge1"></span>-->
                                                <!--<span class="badgecount">24</span>-->
                                            <!--</span>-->
                                        <!--<span title="319 silver badges">-->
                                            <!--<span class="badge2"></span>-->
                                            <!--<span class="badgecount">319</span>-->
                                        <!--</span>-->
                                        <!--<span title="456 bronze badges"><span class="badge3"></span><span class="badgecount">456</span></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </volist>

        </div>
    </div>
    <br class="cbt">
</div>