<div id="mainbar-full" class="user-show-new user-page">
    <div class="subheader reloaded js-user-header" style="box-sizing: content-box;">
        <div id="tabs">
            <a href="/index.php/Home/User/profile" class="<php> echo ACTION_NAME=='profile'?'youarehere':''; </php>">Profile</a>
            <a href="/index.php/Home/User/activity" class="<php> echo ACTION_NAME=='activity'?'youarehere':''; </php>">Activity</a>
            <a href="/index.php/Home/User/edit" class="<php> echo ACTION_NAME=='edit'?'youarehere':''; </php>">Edit
                Profile &amp; Settings</a>
        </div>
    </div>
</div>