<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>UploadiFive Test</title>

    <script src="/Public/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/Public/third/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Public/third/uploadify/uploadify.css">
    <style type="text/css">
        body {
            font: 13px Arial, Helvetica, Sans-serif;

        }

        .uploadify-queue {
            display: none;

        }
    </style>
</head>

<body>
<h1>Uploadify Demo</h1>

<form>
    <div id="queue"></div>
    <input id="file_upload" name="file_upload" type="file" multiple="true">
</form>

<script type="text/javascript">

    $(function () {
        $('#file_upload').uploadify({

            'swf': '/Public/third/uploadify/uploadify.swf',
            'uploader': '/Public/third/uploadify/uploadify.php',
            'multi': false,
            'fileTypeExts': '*.gif; *.jpg; *.png',
            //'progressData': 'speed',
            //'removeCompleted' : false,
            'onUploadSuccess': function () {
                alert('success');
            },
        });
    });
</script>
</body>
</html>